<app-score [score]="score"></app-score>
<app-choices (pickEvent)="pick($event)" *ngIf="!pickedChoice"></app-choices>
<app-result
  *ngIf="pickedChoice"
  [userPick]="pickedChoice"
  (playAgainEvent)="playAgain()"
  (updateScoreEvent)="updateScore($event)"
></app-result>
<button class="rules-btn" (click)="toggleRulesModal(true)">rules</button>
<div class="rules-modal-container" *ngIf="showRulesModal">
  <div class="rules-modal">
    <span>rules</span>
    <img src="../assets/images/image-rules-bonus.svg" alt="rules" />
    <img
      src="../assets/images/icon-close.svg"
      alt="close"
      (click)="toggleRulesModal(false)"
    />
  </div>
</div>
